<div id="map"  class="map active"  style="width: 100%;height: 500px;"></div>

  <h3>Новый заказ</h3>
  <table style="width: 100%">
    <tr>
      <td style="vertical-align: top">
        <p><label for="r1"><input name="type" [value]="1" type="radio" [(ngModel)]='type' (change)="viweOrder()"  id="r1" />каблук</label></p>
        <p><label for="r2"><input name="type" [value]="2" type="radio" [(ngModel)]='type' (change)="viweOrder()"  id="r2" />Газель 3м</label></p>
        <p><label for="r3"><input name="type" [value]="3" type="radio" [(ngModel)]='type' (change)="viweOrder()"  id="r3" />Газель 4м</label></p>
        <p><label for="r4"><input name="type" [value]="4" type="radio" [(ngModel)]='type' (change)="viweOrder()"  id="r4" />Газель 6м</label></p>
        <p><label for="r5"><input name="type" [value]="5" type="radio" [(ngModel)]='type' (change)="viweOrder()"  id="r5" />Газ</label></p>
      </td>

      <td style="vertical-align: top">
        <p><label for="s1"><input name="tariff" [value]="1" type="radio" [(ngModel)]='tariff' (change)="viweOrder()"  id="s1" />Город</label></p>
        <p><label for="s2"><input name="tariff" [value]="2" type="radio" [(ngModel)]='tariff' (change)="viweOrder()"  id="s2" />За город</label></p>
        <p><label for="s3"><input name="tariff" [value]="3" type="radio" [(ngModel)]='tariff' (change)="viweOrder()"  id="s3" />За город и обратно</label></p>

      </td>
      <td>
        <div *ngIf="pathOrder">
          <div>Сумма: <h1>{{resultPrice}}</h1></div>
          <div>{{pathOrder[0].address}}</div>
          <div>{{pathOrder[1].address}}</div>
          <div>Расстояние: {{length}}</div>
          <div>Время в пути: {{time}}</div>
        </div>
      </td>
    </tr>
  </table>
  <div>



  </div>
  <button (click)="createOrder=!createOrder;clearMap()">Отмена</button>
  <button (click)="createInitOrder()">Создать</button>
