<div *ngIf="!dataService.ready">
CONNECT
</div>
<div *ngIf="dataService.ready&&dataService.user.auth==true">
  <app-navigate></app-navigate>
  <hr>
  <router-outlet ></router-outlet>
</div>
<div class="log_in_madal column_centr" *ngIf="dataService.user.auth==false">
  <div class="top-login">
    <div class="doorway_weble_text">
      <h6>Войти</h6>
    </div>
    <div class="doorway_input_block">
      <div class="doorway_input_mail mb56">
        <div class="input-text">Код</div>
        <input class="doorway_input" [(ngModel)]='id'  placeholder="Введите свой идентификатор"
               type="text">
      </div>
    </div>
  </div>
  <div class="bottom-login">

    <div class="perent_enter_weble">
      <input class="input_enter_weble" value="Войти" type="button" (click)="login()">
    </div>
  </div>
</div>


