<div class="pers_page_color" >
  <div class="top-login">
    <div class="doorway_weble_text">
      <h6>{{dataService.user.name}}</h6>
    </div>

  </div>
</div>
<button  [routerLink]="['/main']" >MAIN</button>
<button  [routerLink]="['/order']" >Создать заказ</button>
<button  [routerLink]="['/history']" >history</button>
