<style>
  td{
    border: 1px solid black;
    font-size: 13px;
    margin: 3px;
  }


</style>
<table style="border: 1px solid black">
  <tr   style="border: 1px solid black">
    <td>Адрес</td>

    <td>создано</td>
    <td>расстояние</td>
    <td>Цена</td>
    <td>статус</td>
    <td>тариф</td>
    <td>время в пути</td>
    <td>тип авто</td>
    <td>ID заказа</td>
  </tr>
  <tr *ngFor="let item of history"  style="border: 1px solid black">
    <td>{{item.path[0].address}}<br>{{item.path[1].address}}</td>

    <td>{{item.created_at}}</td>
    <td>{{item.length}}</td>
    <td>{{item.priceStart}}</td>
    <td>{{item.status}}</td>
    <td>{{item.tariff}}</td>
    <td>{{item.time}}</td>
    <td>{{item.type}}</td>
    <td>{{item._id}}</td>
  </tr>
</table>
<div >

</div>
