<style>
  td{
    border: 1px solid black;
    font-size: 13px;
    margin: 3px;
  }


</style>
<h3>Машины на линии</h3>
<table>
  <tr *ngFor="let driver of DRIVERS">
    <td>{{driver.profile.online?"на линии":"занят"}}</td>
    <td>{{driver.profile.name}}</td>
    <td>{{driver.profile.avto}}</td>
    <td>
      <span *ngFor="let t of driver.profile.type">
      <span *ngIf="t==1">каблук</span>
      <span *ngIf="t==2">Газель 3м</span>
      <span *ngIf="t==3">Газель 4м</span>
      <span *ngIf="t==4">Газель 6м</span>
      <span *ngIf="t==5">Газ 5 тонн</span>,<br>
      </span>
      
     

    </td>
    <td>{{driver.profile.number}}</td>
    <td *ngIf="driver.order">
      {{driver.order.status}})
      <span *ngIf="driver.order.status==1">водителю отправлена заявка на подтверждение</span>
      <span *ngIf="driver.order.status==2">Водитель едет к клиенту</span>
      <span *ngIf="driver.order.status==3">Водитель начал выполнять заказ</span>


      <br>
      {{getAddress(driver.order.path[0].address)}}<br>
      ===><br>
      {{getAddress(driver.order.path[1].address)}}<br>

    </td>
    <td *ngIf="!driver.order">
      ЖДЕТ ЗАКАЗ

    </td>

  </tr>
</table>

<h3>Текущие заказы</h3>
<table>
  <tr *ngFor="let order of ORDERS">
    <td >
      <span *ngIf="order.status==0">происходит поиск водителя</span>
      <span *ngIf="order.status==1">водителю отправлена заявка на подтверждение</span>
      <span *ngIf="order.status==2">Водитель едет к клиенту</span>
      <span *ngIf="order.status==3">Водитель начал выполнять заказ</span>
      <span *ngIf="order.status==4">заказ выполнен</span>


      <br>
      {{getAddress(order.path[0].address)}} ===> {{getAddress(order.path[1].address)}}<br>

    </td>
    <td>
      <span *ngIf="order.type==1">каблук</span>
      <span *ngIf="order.type==2">Газель 3м</span>
      <span *ngIf="order.type==3">Газель 4м</span>
      <span *ngIf="order.type==4">Газель 6м</span>
      <span *ngIf="order.type==5">Газ 5 тонн</span>
      
    </td>
    <td>
     {{order.created_at}}

    </td>
  </tr>
</table>
